@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  background-image: url("./assets/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Abel;
  font-size: 18px;
  height: 100vh;
}

.cover {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#mainGame div {
  width: 100%;
}

#mainGame div a:hover {
  filter: invert(1);
}

#playArea {
  background-color: #eef5ee;
  border-radius: 5%;
}

divider {
  border-top: 1px solid black;
}
